<div class="row jumbotron-fluid moiClassView p-2 m-0" style="font-size: 14px">
  <div class="col">
    <table class="table table-striped table-dark moiClassTimeTable" style="font-size: 16px">
      <thead>
          <tr>
              <th scope="col" colspan="7" style="font-size: 20px">Stations</th>
            </tr>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Location</th>
          <th scope="col" class="moiClassShowLines">
            <a (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                Show Lines</a>
          </th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let station of allStations | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
          <th scope="row">{{station?._id}}</th>
          <td>{{station?.name}}</td>
          <td>{{station?.address?.street}}&nbsp;{{station?.address?.number}},{{station?.address?.city}}</td>
          <td style="font-size: 13px">({{station?.location?.x}}, {{station?.location?.y}})</td>
          <td>
            <ul id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true" class="text-white" *ngFor="let line of station?.lines">
              <li>{{line?.lineNumber}}</li>
            </ul>
          </td>
          <td><button [routerLink]="['/newStation',{stationId: station._id}]" routerLinkActive="router-link-active"  class="btn btn-default moiClassButton">Edit</button></td>
          <td><i class="fa fa-trash moiClassButtonTable" (click)="deleteStation(station?._id)"></i></td>
        </tr>
        <tr>
          <th colspan="7">
            <pagination-controls (pageChange)="onChangedPage($event)"></pagination-controls>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
