.moiClassView {
    background-color:  rgb(88, 88, 88);
    height: auto;
}

.moiClassTimeTable {
    padding: 0%;
}

table.moiClassTimeTable td, th {
    padding: 1%;
    vertical-align: middle;
    text-align: center;
}

.moiClassComponentView {
    background-color: rgba(52, 51, 56, 0.603);
    padding: 2%;
    width: 100%;
}

.moiClassButton {
    background-color: rgba(255, 166, 0, 0.705);
    color: white;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    padding: 0%;
    width: 300px;
    height: 50px;
}

.moiClassButton:hover {
    background-color: orange;
}

.moiClassButtonRemove {
    background-color: rgb(167, 167, 167);
    color: white;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    padding: 0%;
    margin-top: 2%;
    width: 100px;
    height: 30px;
}

.moiClassButtonRemove:hover {
    background-color: rgb(133, 131, 131);
}

.moiClassButtonApproved {
    font-size: 20px;
    color: white;
    font-weight: bolder;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 150px;
    background-color: orange;
    margin-right: 2%;
}

.moiClassButtonApproved:hover {
    background-color: rgb(212, 139, 3);
}

.moiClassButtonReject {
    font-size: 20px;
    padding-left: 3%;
    color: white;
    font-weight: bolder;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 150px;
    background-color: rgb(163, 163, 163);
    margin-left: 2%;
}

.moiClassButtonReject:hover {
    background-color: rgb(119, 119, 119);;
}

.moiClassUserDocument {
    height: 500px;
    width: 500px;
}

.moiClassChooseLocation {
    color: orange;
    cursor: pointer;
}

li {
    padding: 0%;
    margin: 0%;
}

.moiClassButtonTable {
    color: rgba(255, 166, 0, 0.705);;
    font-size: 2em;
    padding: 0%;
    margin: 0%;
    cursor: pointer;
}

.moiClassButtonTable:hover {
    color: orange;
}